<!DOCTYPE html>
<html lang="en">
<head>
    <base target="_blank" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des domaines</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            text-align: center;
            padding: 20px;
        }
        h1 {
            color: #4CAF50;
            font-size: 2em;
            margin-top: 0;
        }
        a {
            display:inline-block;
            background-color: #fff;
            margin: 5px;
            padding: 6px 15px;
            border-radius: 5px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease;
            text-decoration: none;
            color: #2196F3;
            font-weight: bold;
        }
        a:hover {
            color: #0b7dda;
        }

        .sites {
            width: 100%;
            border-collapse: collapse;
        }
        .sites tr:hover {
            background-color: #4CAF5022;
        }
        .sites th, .sites td {
            padding: 2px 5px;
        }
        .sites .group {
            padding: 8px;
            font-size: 1.2em;
            text-transform: uppercase;
            background: #DDD;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Domaines configurés</h1>
    <table class="sites" border="1" width="100%">
        <tr>
            <th class=group colspan="<%= phpVersions.length + 1 %>">Traefik</th>
        </tr>
        <tr>
            <td style="padding:10px" colspan="<%= phpVersions.length + 1 %>">
        <% routes.forEach(route => { %>
            <a href="https://<%= route %>"><%= route %></a>
        <% }); %>
            </td>
        </tr>
        <tr>
            <th class=group colspan="<%= phpVersions.length + 1 %>">NGINX</th>
        </tr>

        <% routes_nginx.forEach((route, routeIndex) => { %>
        <tr>
            <td><a href="https://<%= route + ".devphp.localhost" %>"><%= (route + ".devphp.localhost") %></a></td>
            <% phpVersions.forEach((version, versionIndex) => { %>
                <td><a href="https://<%= route + ".devphp"+ version +".localhost" %>">PHP v<%= version %></a></td>
            <% }); %>
        </tr>
        <% }); %>

    </table>

    <br>
    <div class="info">
        Mise à jour des certificats SSL et redémarrage de Traefik en lançant le script <code>install-certs.sh</code>
    </div>
</body>
</html>
